<ilpn-page-layout>
    <h2>TODO title</h2>
    <hr>

    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <ilpn-file-upload [descriptionText]="'drop a .dot pes file here'" [squareContent]="'🐨'"
                          (fileContent)="transformPesFile($event)"></ilpn-file-upload>
        <ilpn-file-upload [descriptionText]="'drop a .dot lattice file here'" [squareContent]="'🦘'"
                          (fileContent)="transformLatticeFile($event)"></ilpn-file-upload>
        <ilpn-file-download [descriptionText]="'download transformed result(s)'" [squareContent]="'♥'"
                            [disabled]="!filesProcessed" [files]="files"></ilpn-file-download>
    </div>

</ilpn-page-layout>
